/*
body {
    margin: 0;
    height: 100%;
    background: linear-gradient(to bottom, #35124f 1%, #000000 2%, #000000 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
*/
.events-body-background {
    margin: 0;
    height: 100%;
    background: linear-gradient(to bottom, #35124f 1%, #000000 2%, #000000 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }